html {
    scroll-behavior:smooth
}

/* Ce CSS a été principalement codé par un cireur d'ampoules, merci de ne pas s'inspirer ni incriminer l'auteur. */

body {
    color:  rgb(51, 51, 51);
    font-family: Helvetica;
    margin: 0;
}

@font-face {
    font-family: Monoton;
    src: url('fonts/Monoton-Regular.ttf');
}

.mobile {
    display: inherit;
}

.no-mobile {
    display: none;
}

div.content {
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 2;
}

h2 {
    text-align: center;
    color: #827474;
}

h2 span {
    display: block;
}

h2 span {
    text-align: center;
}

strong {
    color:  #424141;
}

.menu {
    text-align: center;
    padding: 10px;
}

.menu li {
    display: inline;
}

p.intro_photos {
    text-align: center;
}

img.intro {
    max-width: 80%;
}

.poster {
    padding-top: 25px;
}

.poster img {
    margin: auto;
    display: block;
    /*border: 1px solid #938c8c;*/
    width: 100%;

    flex: 1;
    position: relative;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.titles:hover .poster img {
    transform: rotate(-20deg);
}

.portrait {
    width: 100%;
}

.portrait img {
    width: 100%;
}

.artists {
    columns: 2;
}

.conclusion {
    margin-top: 40px;
    text-align: center;
}

.conclusion img {
    max-width: 200px;
}

.letters-elevator {
    display: flex;
    align-items: center;
}
.letters-elevator .word {
/*    width: 600px;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.titles:hover .letters-elevator .word .char:nth-child(even) {
    top: 20px;
}
.titles:hover .letters-elevator .word .char:nth-child(odd) {
    top: -20px;
}
.letters-elevator .char {
    flex: 1;
    position: relative;
    display: inline-block;
    top: 0;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.letters-explode {
    align-items: center;
}

.letters-explode .word {
/*    width: 550px;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.titles:hover .letters-explode .word .char:nth-child(1) {
    margin-top: -30px;
    transform: rotate(-20deg);
}
.titles:hover .letters-explode .word .char:nth-child(3) {
    margin: -10px 0px 0 10px;
    transform: rotate(12deg);
}
.titles:hover .letters-explode .word .char:nth-child(5) {
    margin: 15px 0 0 10px;
    transform: rotate(-5deg);
}
.titles:hover .letters-explode .word .char:nth-child(7) {
    margin: -25px 0 0;
    transform: rotate(5deg);
}
.titles:hover .letters-explode .word .char:nth-child(9) {
    margin: -33px 5px 0;
    transform: rotate(19deg);
}
.titles:hover .letters-explode .word .char:nth-child(11) {
    margin: -35px 5px 0;
    transform: rotate(-13deg);
}
.titles:hover .letters-explode .word .char:nth-child(13) {
    margin: -50px 5px 0;
    transform: rotate(14deg);
}
.letters-explode .char {
    flex: 1;
    transition: 0.3s ease-in-out;
    position: relative;
}

ul  {
    list-style: none;
    line-height: 1.6em;
}

li span {
    font-size: 1.3em;
    color: #424141;
}

h1 {
    letter-spacing: 0.2em;
    font-family: Monoton, "sans serif";
    text-align: center;
    padding-left: 20px;
}

h1::before {
    content:  "★ ";
}

h1::after {
    content:  " ★";
}

p {
    line-height: 1.4em;
    max-width: 70ch;
    margin-inline: auto;
}

h3 {
    margin-top: 50px;
    text-decoration: underline;
    color: #424141;
}

h4 {
    text-decoration: underline;
    color: #424141;
    font-weight: normal;
}

a {
    color: #1f7b91;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em;
}

@media screen and (min-width: 1040px) {
    div.content {
        max-width: 800px;
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        max-width: 600px;
        padding-left: 20px;
    }

    h1 {
        letter-spacing: 0.7em;
    }

    .menu {
        position: fixed;
        right: 20px;
        top: 20px;
        left: inherit;
        text-align: right;
    }

    .menu li {
        display: block;
    }

}

@media screen and (min-width: 800px) and (max-width: 1040px) {
    h1 {
        letter-spacing: 0.6em;
    }

}

@media screen and (min-width: 800px) {
    .mobile {
        display: none;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        line-height: 2em;
    }

    .letters-explode {
        display: flex;
    }

    .letters-elevator .word {
        width: 600px;
    }

    .letters-explode .word {
        width: 550px;
    }

    .no-mobile {
        display: inherit;
    }

    div.content {
        max-width: 800px;
        padding-top: 30px;
        display: block;
        grid-template-columns: 1.4fr 1.6fr;
    }

    h1 {
        padding-left: 0;
    }

    .poster img {
        width: 420px;
    }

}
