body {
    color:  rgb(51, 51, 51);
    font-family: Helvetica;
    margin: 0;
}

.overlay {
    background-image: url("affiche_web.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.10;
    z-index: 1;
}

.mobile {
    display: inherit;
}

.no-mobile {
    display: none;
}

div.content {
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 2;
}

h2 {
    line-height: 2em;
    text-align: center;
    color: #827474;
}

h2 span {
    display: block;
}

h2 span {
    text-align: center;
}

strong {
    color:  #424141;
}

.poster {
    padding-top: 25px;
}

.poster img {
    width: 60%;
    margin: auto;
    display: block;
    border: 1px solid #938c8c;
}

.col {

}

ul  {
    list-style: none;
    line-height: 1.6em;
}

li span {
    font-size: 1.3em;
    color: #424141;
}

.documents {
    text-align: center;
}

h1 {
    letter-spacing: 0.7em;
    font-family: Arial, "sans serif";
    text-align: center;
    padding-left: 20px;
}

p {
    line-height: 1.4em;
}

h3 {
    margin-top: 50px;
    text-decoration: underline;
    color: #424141;
}

a {
    color: #6eb5c6;
}

@media screen and (min-width: 800px) {
    .mobile {
        display: none;
    }

    .no-mobile {
        display: inherit;
    }

    h2, h2 span {
        text-align: left;
    }

    .step2 {
        padding-left: 110px;
    }

    .step3 {
        padding-left: 220px;
    }

    .step4 {
        padding-left: 380px;
    }

    div.content {
        max-width: 1000px;
        padding-top: 30px;
    }

    div.text {
        max-width: 600px;
        margin-left: 10px;
    }

    div.content {
        display: grid;
        grid-template-columns: 1.4fr 1.6fr;
    }

    h1 {
        letter-spacing: 1.4em;
        padding-left: 0;
    }

    .poster img {
        width: 100%;
    }

}

@media screen and (min-width: 800px) {
    div.content {
        max-width: 1100px;
        padding-top: 30px;
    }

    div.text {
        max-width: 600px;
        padding-left: 20px;
    }

    .poster {
        max-width: 500px;
    }

    div.content {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
    }
}
